<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.english.quizza">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quizza"
        android:usesCleartextTraffic="true">
        <activity android:name=".SettingsActivity"> </activity>
        <activity android:name=".SpinWheel.SrActivity" />
        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".SpinnerActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5400036180218985~7782468707" />
        <service
            android:name=".Notification"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name=".Network_broadcast"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>